.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 200px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    color: var(--color-common-main);
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;

    &.open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    .empty-notification-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    li {
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      margin: 10px 0px;

      &.li-click {
        cursor: pointer;
        .btn {
          cursor: pointer;
        }
      }

      &:hover {
        background-color: var(--bg-hover-color);
      }
      &:hover .body-text {
        color: var(--hovered-text-color);
      }
    }
  }
  &.notification-dropdown-list {
    .dropdown-menu {
      min-width: 500px;
      padding: 20px;
      max-height: 350px;
      min-height: 200px;
      overflow-y: auto;
      li {
        padding: 0px;
      }
    }
  }
}
