.submenu-list:not(.nested-list) {
  position: absolute;
}

.submenu-list {
  display: none;
}

.open~.submenu-list {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  min-width: 240px;
  background: #ebf5ff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  z-index: 10;
  left: 240px;

  &.nested-list {
    position: relative;
    padding: 16px 0px;
    min-width: calc(240px - 32px);
    left: 0px;
    transition: all 0.3s ease-in-out;
  }

  &.submenu-collapsed:not(.nested-list) {
    left: 80px;
  }
}

.collapsed .open~.submenu-list {
  left: 80px;
}

.submenu-heading,
.menu-link,
.submenu-list-link {
  padding: 8px;
  border-radius: 7px;
  padding-left: 16px;

  &:hover {
    background: colorMapper(primary, main);
    color: white;
  }
}

.submenu-heading:hover {
  .menu-icon svg {
    stroke: white;
  }

  .submenu-heading-title {
    color: white;
  }

  .dropdown-arrow svg {
    fill: white;
  }
}

.menu-link {
  display: flex;
  align-items: center;
}

.menu-link:hover .menu-link-title {
  color: white;
}

.menu-link.active .menu-link-title {
  color: white;
}

.submenu-heading,
.menu-link {
  &-title {
    transition: margin-left 0.3s ease-in-out;
    vertical-align: middle;
    margin-left: 0px;
    color: var(--color-common-main);
  }

  img {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    z-index: 100;
  }

  .menu-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    position: relative;
    z-index: 100;

    svg {
      height: 1.2em;
      width: 1.2em;
      fill: var(--color-common-main);
      stroke: var(--color-common-main);
    }
  }
}

.submenu-heading {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-container:not(.collapsed) .submenu-heading {
  &-title {
    transition: margin-left 0.5s ease-in-out;
  }
}

.sidebar-container:not(.collapsed) .menu-link {
  &-title {
    transition: margin-left 0.5s ease-in-out;
  }
}

.collapsed .menu .submenu-heading {
  img {
    margin-right: 0px;
  }

  &-title {
    opacity: 0;
    visibility: hidden;
    margin-left: -10px;
  }
}

.collapsed .nested-submenu .submenu-heading {
  &-title {
    opacity: 1;
    visibility: visible;
    margin-left: 0px;
  }
}

.menu-link {
  img {
    vertical-align: middle;
    margin-right: 8px;
  }

  &-title {
    opacity: 1;
    visibility: visible;
    margin-left: 0px;
  }
}

.collapsed .menu-link {
  img {
    margin-right: 0px;
  }

  &-title {
    opacity: 0;
    visibility: hidden;
    margin-left: -10px;
  }
}

.dropdown-arrow {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;

  svg {
    width: 13px;
    height: 13px;
    fill: var(--color-common-main);
  }
}

.menu .dropdown-arrow {
  transition: transform 0.3s ease-in-out;
}

.menu .submenu-heading.active {
  .menu-icon {
    svg {
      height: 1.2em;
      width: 1.2em;

      path {
        fill: white;
        stroke: white;
      }
    }
  }

  .dropdown-arrow {
    svg {
      fill: white;
    }
  }

  .submenu-heading-title {
    color: white;
  }
}

.menu .submenu-heading.open .dropdown-arrow {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%) rotate(-90deg);
}

.collapsed .menu .submenu-heading .dropdown-arrow {
  display: none;
}

.collapsed .nested-submenu .submenu-heading .dropdown-arrow {
  display: inline-block;
}

.nested-submenu .submenu-heading.open .dropdown-arrow {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%) rotate(-180deg);
}

.collapsed .nested-submenu .submenu-heading.open .dropdown-arrow {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%) rotate(-135deg);
}

.no-pointer {
  pointer-events: none;
}

.menu .active {
  background-color: colorMapper(primary, main);
  color: white;
  border-radius: 7px;
}

.sidebar-menu-container:has(.submenu-list-link.active) {
  background-color: colorMapper(primary, main);
  color: white;
}