.btn {
  border: none;
  outline: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 6px;
  letter-spacing: 0.02857em;
  line-height: 1.7;
  white-space: nowrap;
  img,
  rect,
  svg {
    height: 1.3em;
    width: 1.3em;
  }

  &.sm {
    padding: 4px 10px;
    font-size: 0.8125rem;
    font-weight: 500;
    min-height: 32.09px;
  }

  &.md {
    padding: 6px 16px;
    font-size: 0.875rem;
    font-weight: 700;
    min-height: 37.5px;
  }

  &.lg {
    padding: 8px 22px;
    font-size: 0.9375rem;
    font-weight: 900;
    min-height: 43.5px;
  }

  &.icon-button.sm {
    padding: 5.3px;
  }

  &.icon-button.md {
    padding: 7.9px;
  }

  &.icon-button.lg {
    padding: 9.5px;
  }

  &.square {
    border-radius: 0px;
  }

  &.borderRadius {
    border-radius: 4px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.fullWidth {
    width: 100%;
  }

  &.noPadding {
    padding: 0px !important;
    min-height: auto !important;
  }

  @each $color in $colorType {
    &.filled.#{$color} {
      background: colorMapper($color, main);
      color: colorMapper($color, contrastText);
      box-shadow: var(--button-box-shadow);
      border: 1px solid colorMapper($color, main);
    }

    &.outlined.#{$color} {
      border: 1px solid colorMapper($color, main);
      background: transparent;
      color: colorMapper($color, main);
      box-shadow: none;
    }

    &.text.#{$color} {
      background: transparent;
      color: colorMapper($color, main);
      border: 1px solid transparent;
    }

    &.filled.pointer.#{$color}:hover {
      background-color: colorMapper($color, dark);
      box-shadow: var(--button-box-shadow-hover);
    }

    &.outlined.pointer.#{$color}:hover {
      background-color: colorMapper($color, light);
      border: 1px solid colorMapper($color, main);
    }

    &.text.pointer.#{$color}:hover {
      background-color: colorMapper($color, light);
    }

    &.filled.#{$color}:disabled {
      color: colorMapper(grayClr, 500);
      box-shadow: none;
      pointer-events: none;
      cursor: not-allowed;
      border-color: colorMapper(grayClr, 300);
      background-color: colorMapper(grayClr, 300);
    }

    &.filled.#{$color}:disabled:hover {
      color: colorMapper(grayClr, 500);
      box-shadow: none;
      border-color: colorMapper(grayClr, 300);
      background-color: colorMapper(grayClr, 300);
      pointer-events: none;
      cursor: not-allowed;
    }

    &.outlined.#{$color}:disabled {
      color: colorMapper(grayClr, 500);
      border-color: colorMapper(grayClr, 300);
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed;
    }

    &.text.#{$color}:disabled {
      color: colorMapper(grayClr, 500);
      background-color: transparent;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  &.pointer {
    cursor: pointer;
  }
}

@media screen and (max-width: 570px) {
  .btn.lg,
  .btn.md {
    padding: 4px 10px;
    font-size: 0.8125rem;

    img,
    svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
}
