.grid-container {
  display: grid;
  width: 100%;

  &.inline {
    display: inline-grid;
    width: auto;
  }

  &.wrap {
    grid-auto-flow: dense;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-end {
    justify-content: end;
  }

  &.justify-stretch {
    justify-content: stretch;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: start;
  }

  &.align-end {
    align-items: end;
  }

  &.align-stretch {
    align-items: stretch;
  }
}
