.tabs {
  width: 100%;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  .tabButtons {
    display: inline-flex;
    &:has(:not(.outlined)) {
      border-bottom: 1px solid lightgray;
    }
  }
  &.center {
    align-items: center;
  }
  &.left {
    align-items: flex-start;
  }
  &.right {
    align-items: flex-end;
  }
  .btn {
    position: relative;
  }

  .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    transition: all 1s ease;
  }

  @each $color in $colorType {
    &.#{$color} .btn:not(.outlined).active::after {
      height: 2px;
      background-color: colorMapper($color, main);
    }

    &.#{$color} .btn.outlined {
      border: none;
      &:hover {
        border: none;
      }
    }

    &.#{$color} .btn.outlined.active {
      color: white;
      border: none;
      background-color: colorMapper($color, main);
    }
  }

  .tabContent {
    width: 100%;
    margin-top: 20px;
    transition: height 0.3s ease;
  }
}
