.sites-dashboard {
  .sites-dashboard-header {
    background-color: white;
    padding: 10px 20px;
    .input-field-container{
      width: 30%;
    }
  }
  .sites-history {
    padding: 40px 20px;
    height: 100%;
    background-color: white;
    .input-field-container{
      width: 100%
    }
    p {
      white-space: nowrap;
    }
  }
}
