input.hide-number-increment::-webkit-outer-spin-button,
input.hide-number-increment::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-text {
  color: #bd1f21;
  margin-left: 0px;
  font-size: 12px;
  margin-top: 3px;
}

.Toastify {
  z-index: 11;
  position: relative;
}

.container-bg {
  background-color: var(--container-bg-color);
}

.pointer-icon-fill {
  cursor: pointer;

  svg {
    fill: gray;
  }
}

.pointer-icon-stroke {
  cursor: pointer;

  svg {
    path {
      stroke: gray;
    }
  }
}

.StripeElement {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--background-color);
}

.StripeElement--webkit-autofill {
  background-color: transparent !important;
}

.StripeElement--webkit-autofill::first-line {
  font-size: 16px;
}

.disabled-link {
  color: gray;
  text-decoration: none;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}