input.hide-number-increment::-webkit-outer-spin-button,
input.hide-number-increment::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-text {
  color: #bd1f21;
  margin-left: 0px;
  font-size: 12px;
  margin-top: 3px;
}

.Toastify {
  z-index: 9999999999999999;
  position: relative;
}

.container-bg {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.pointer-icon-fill {
  cursor: pointer;
  svg {
    fill: gray;
  }
}

.pointer-icon-stroke {
  cursor: pointer;
  svg {
    path {
      stroke: gray;
    }
  }
}
