* {
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100%;
  height:100vh;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
