@each $color in $colorType {
  .select-container.#{$color} {
    position: relative;
    line-height: 1.7;

    .selected-options {
      border: 1px solid colorMapper($color, main);
      &.sm {
        padding: 4px 10px;
        height: 32.09px;
        font-size: 13px;
      }

      &.md {
        height: 37.8px;
        padding: 6px 16px;
        font-size: 14px;
      }

      &.lg {
        height: 43.5px;
        padding: 8px 22px;
        font-size: 15px;
      }

      .selected-options-list {
        .placeholder-text {
          color: colorMapper(grayclr, 500);
        }
      }

      .toggle-arrow-icon {
        transition: all 0.3s ease-in-out;
        width: 1em;
        height: 1em;
        margin-top: 0.5em;
        appearance: none;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid colorMapper($color, main);
        position: absolute;
        right: 8px;
        cursor: pointer;
        z-index: 200;
      }

      .toggle-arrow-icon:checked {
        transition: all 0.3s ease-in-out;
        z-index: 200;
      }

      .excessive-width {
        display: none;
      }
    }

    .options-container {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }

    .options-container.open {
      background-color: colorMapper($color, light);
      padding: 16px;
      visibility: visible;
      opacity: 1;
      position: absolute;
      z-index: 9999;
      width: 100%;
    }
  }
}
