.site-overview-detail {
  .top-container {
    position: relative;
  }
  .checklist__item {
    padding: 20px;
    .item-icon,
    .checkmark-icon {
      font-size: 24px;
    }
    .item-icon {
      color: colorMapper(primary, main);
    }
    .checkmark-icon {
      color: colorMapper(success, main);
      &.watch {
        color: var(--color-main-common);
      }
    }
    .body-text {
      color: var(--color-main-common) !important;
      font-weight: 500 !important;
      font-size: 16px !important;
    }
  }

  .keywords-ranking-detail {
    &__card {
      &__count {
        color: var(--color-main-common) !important;
        font-size: 2.43em;
        font-weight: 500;
      }
    }
  }

  .site-insights {
    padding: 40px 0px;
  }

  .recommendations-overview {
    &__left-container {
      border-right: 1px solid var(--border-color);
      padding-right: 20px;
      &__count {
        color: var(--color-main-common) !important;
        font-size: 2.43em;
        font-weight: 500;
      }
      .btn {
        align-self: flex-end;
      }
    }

    &__right-container {
      padding-left: 20px;
      &__batch {
        padding: 8px;
        &__count {
          color: var(--color-main-common) !important;
          font-size: 1.3em;
          font-weight: 500;
        }
      }
    }
  }
}

.dark .recommendations-overview__right-container__batch {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 4px;
}

.light .recommendations-overview__right-container__batch {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
