.auth-form-container {
  background-color: var(--container-bg-color);
}

.auth-form-box{
  button:last-child{
    background-color: #09EAEC !important;
    border-color: #09EAEC !important;
    color:#000000 !important
  }
}