.layout-container {
  display: flex;
  width: 100%;
  height: 100%;
  .layout-right-section {
    width: 100%;
  }

  .layout-right-section-menu {
    margin-top: 80px;
    padding: 40px 80px;
    width: calc(100% - 240px);
    margin-left: 240px;
    position: relative;
    height: 100%;
  }

  &:has(.sidebar-container):not(:has(.collapsed)) :not(:has(.minimized)) {
    .layout-right-section {
      width: calc(100% - 240px);
      margin-left: 240px;
      transition: all 0.3s ease-in-out;
      .topbar-container {
        width: calc(100% - 240px);
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &:has(.collapsed) {
    .layout-right-section {
      width: calc(100% - 80px);
      margin-left: 80px;
      transition: all 0.3s ease-in-out;
      .topbar-container {
        // width: calc(100% - 80px);
        transition: all 0.3s ease-in-out;
      }
      .layout-right-section-menu {
        width: calc(100% - 80px);
        margin-left: 80px;
      }
    }
  }
  &:has(.minimized) {
    .layout-right-section {
      width: 100%;
      margin-left: 0px;
      transition: all 0.3s ease-in-out;
      .topbar-container {
        width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .layout-container {
    .layout-right-section-menu {
      margin-top: 80px;
      padding: 60px 200px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .layout-container {
    .layout-right-section-menu {
      margin-top: 80px;
      padding: 60px 150px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .layout-container {
    .layout-right-section-menu {
      margin-top: 80px;
      padding: 60px 100px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .layout-container {
    .layout-right-section-menu {
      margin-top: 80px;
      padding: 50px;
    }
  }
}
