.recommendations-container {

  .recommendations-status {
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      .body-text {
        color: white;
      }
      background-color: colorMapper(primary, main);
    }
    &.active {
      background-color: colorMapper(primary, main);
      .body-text {
        color: white;
      }
    }
  }
  .btn {
    margin-top: 16px;
  }
}
