.payment-history-card {
  background-color: white;
  // flex-grow: 1;
}
.payment-history-card {
  // min-width: 367px;
  svg {
    width: 6rem;
    height: 6rem;
  }
}

.payment-history-listing {
  background-color: white;
}
