.add-new-keywords-container {
  .manual-keywords-form {
    height: 100%;
    label {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1875px) {
    .container-screens {
      flex-direction: column;
    }
  }
}
