.table {
  border-collapse: collapse;
  // display: block;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 100%;
  table-layout: fixed;

  thead {
    tr {
      .table-heading-cell {
        position: relative;

        .sorting-order-icons {
          display: inline-block;
          width: 30px;
          height: 14px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 50%;
            opacity: 0.3;
            transform: translateX(-50%);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid var(--text-description-color);
          }

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            opacity: 0.3;
            transform: translateX(-50%);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid var(--text-description-color);
          }

          &.asc::before {
            border-bottom-color: gray;
          }

          &.desc:after {
            border-top-color: gray;
          }
        }
      }
    }
  }

  .table-data-cell,
  .table-heading-cell {
    text-align: left;
    vertical-align: middle;
    padding: 10px 14px;
    position: relative;
    border-bottom: 1px solid var(--border-color);
    color:var(--text-description-color);
    svg{
      stroke:var(--color-common-main);;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  .optional-table-cell {
    text-align: center;
    width: 70px;
    min-width: 70px;
    position: relative;
    border-bottom: 1px solid var(--border-color);
  }
}

.hidden {
  opacity: 0;
  transition: all 0.2s linear;
  line-height: 0%;
  border: none;
  outline: none;
}

.fixed-left {
	position: relative;
  z-index: 9999;
}

.fixed-right {
	position: relative;
  z-index: 9999;
}