.sidebar-container {
  min-width: 240px;
  width: 240px;
  height: calc(100% - 80px);
  margin-top: 80px;
  padding: 24px 16px;
  background-color: var(--container-bg-color);
  // border-right: 1px solid var(--border-color);
  transition: width, min-width 0.3s ease-in-out;
  position: fixed;
  left: 0;
  white-space: nowrap;
  z-index: 9999999;
  &.collapsed {
    transition: all 0.3s ease-in-out;
    min-width: 80px;
    width: 80px;

    .submenu-list {
      min-width: 240px;
      &.nested-list {
        min-width: calc(240px - 32px);
      }
    }
  }

  &.minimized {
    display: none;
  }

  &.overlay {
    display: block;
    z-index: 99999;
    margin-top: 80px;
    background-color: white;
  }

  &__menu {
    padding: 20px 0px;

    &__sub-menu.accordion-container {
      padding: 0px;
      box-shadow: none !important;
      border: none !important;
      .accordion-container-header.container-bg {
        background-color: transparent;
        border-color: transparent;
        padding: 12px 8px 12px 16px;
        .truncate-text {
          display: inline-flex;
          width: auto !important;
          .sidebar-container__menu__link {
            padding: 0px;
            display: inline-flex;
          }
        }
      }
      &.active .accordion-container-header {
        color: var(--color-common-main);
        background: #d1ede4b6;
        .sidebar-container__menu__link__title {
          color: var(--color-common-main);
        }
        .header-icon svg {
          fill: var(--color-common-main);
        }
      }
      .accordion-container-description {
        margin-top: 16px;
        padding: 0px 0px 0px 8px !important;
        margin-left: 12px;
        border-left: 1px solid #d1ede4b6;
      }
    }

    &__link {
      padding: 12px 8px 12px 16px;
      border-radius: 7px;
      cursor: pointer;
      font-weight: 500;
      color: var(--text-description-color);

      svg{
        font-size: 20px;
      }

      &.active,
      &:hover {
        color: var(--hovered-text-color);
        background: var(--bg-hover-color);
        .sidebar-container__menu__link__title {
          font-weight: 500;
          color: var(--hovered-text-color) !important;
        }
      }
    }
  }
}

.app-container.light .sidebar-container__menu__link__title {
  color: colorMapper(grayClr, light-description-color);
}

.app-container.dark .sidebar-container__menu__link__title {
  color: colorMapper(grayClr, dark-description-color);
}
