.notification-container {
  padding: 16px 0px;
  overflow: hidden;
  position: relative;
  &__header {
    .new-message-icon {
      position: absolute;
      right: 75px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: colorMapper(warning, main);
    }
  }

  &__body {
    max-width: 400px;
    h4 {
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 16px;
      color: var(--text-description-color) !important;
    }
  }

  .truncate-text {
    color: var(--text-description-color);
  }

  .date-time {
    align-self: flex-end;
    position: absolute;
    right: 0px;
    top: 50%;
    letter-spacing: 1px;
    transform: translateY(-50%);
  }
}

.dropdown.notification-dropdown-list {
  .dropdown-menu {
    .li-click {
      border-bottom: 1px solid var(--border-color);
    }
    li:has(.new-message) {
      background: var(--container-bg-color);
    }
    li:has(.old-message) {
      background: transparent;
    }
  }
}
